@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@4..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Linefont";
}
html {
    scroll-padding-top: 80px;
}
body {
    margin: 0px, 10px, 10px, 10px;
    padding: 10px;
    color: rgb(255, 239, 213);
    font-size: 26px;
    height: 100vh;
    overflow-x: hidden;
    background: radial-gradient(#18221a, #04100d)
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 1rem;
    background-color: #18221a;
    border-radius: 12px;
    border-image: url(https://deepwoken.co/border.png) 45%;
    border-image-width: 40px;
    border-image-outset: 2px;
}
#logo {
    font-size: 3rem;
    color: #26362a;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}
#logo:hover {
    transform: scale(1.2);
}
#navContainer {
    width: 100%;
    float: right;
}
nav a {
    font-size: 1.8rem;
    color: #26362a;
    margin-left: 4rem;
    justify-self: center;
    align-self: center;
    transition: 0.2s ease;
}
nav a:hover {
    font-size: 2rem;
    color: #3b5341;
}
a {
    color: white;
    text-decoration: none;
}
section {
    min-height: 55vh;
    padding: 5rem 9% 5rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    min-height: 100vh;
}
#home-content {
    padding: 20px;
    border-radius: 12px;
    border-image: url(https://deepwoken.co/border.png) 45%;
    border-image-width: 40px;
    border-image-outset: 2px;
}
#home-content h1 {
    font-size: 6rem;
}
h3 {
    font-size: 3rem;
    color: #3b5341;
}

span {
    color: #3b5341;
}
#hireMeBtn {
    padding: 20px;
}
#destroymanIII {
    margin-top: 80px;
    transform: rotateY(180deg);
    transition: 0.3s ease;

}
#socialIcons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    font-size: 2rem;
    border: 0.3rem solid gray;
    border-radius: 50%;
    margin: 1rem;
    transition: 0.3s ease;
}
#socialIcons a:hover {
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px papayawhip;
    color: #3b5341;
}
#button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: papayawhip;
    border-radius: 12px;
    border-image: url(https://deepwoken.co/border.png) 45%;
    border-image-width: 40px;
    transition: 0.3s ease;
}
#button:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);
}
#typingText {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
#typingText span{
    position: relative;
}
#typingText span::before {
    content: '';
    color: #26362a;
    animation: words 20s infinite;
}
#typingText span::after {
    content: '';
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
}
#menuToggle {
    display: none;
}
@keyframes words {
    0%, 20% {
        content: ' sharko';
    }
    21%, 40% {
        content: ' LoL joueur';
    }
    41%, 60% {
        content: ' metamancer';
    }
    61%, 80% {
        content: ' flamecharmer';
    }
    81%, 100% {
        content: ' frère';
    }
}
#menuIcon{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 101;
}
#menuIcon span{
    display: block;
    height: 4px;
    background-color: #3b5341;
    border-radius: 2px;
}
#menuToggle:checked ~ nav {
    display: block;
}
@media(max-width:995px){
    nav {
        position: absolute;
        display: none;
        background-color: #04100d;
        top: 0;
        right: 0;
        width: 40%;
        border-radius: 12px;
        border-image: url(https://deepwoken.co/border.png) 45%;
        border-image-width: 40px;
        border-image-outset: 2px;
        padding: 1rem;
    }
    nav.active{
        display: block;}
    nav a{
        display: block;
        font-size: 2rem;}
    nav a:hover,
    nav.active{
        padding: 1rem;
        border-radius:0.5rem;
        border-bottom:0.5rem solid;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem
    }
    .home #home-content h3{
        font-size: 2.5rem;
    }
    .home #home-content h1{
        font-size: 4rem;
    }
    #home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    #menuIcon {
        display: flex;
        right: 100%;
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }

}
